export(annotation_ggicon)
export(culture_plate_plot)
export(ggicon_data)
export(ggicon_names)
export(ggicon_plot)
export(read_plate_reader)
export(well_plate_plot)
importFrom(ggplot2,aes)
importFrom(ggplot2,annotation_custom)
importFrom(ggplot2,coord_equal)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_polygon)
importFrom(ggplot2,geom_rect)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggplotGrob)
importFrom(ggplot2,scale_colour_gradient)
importFrom(ggplot2,scale_fill_gradient)
importFrom(ggplot2,theme_void)
